<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head_meta' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <!-- GOOGLE FONT -->
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Oxygen:400,300,700', :media => "all" %>

    <%= render "layouts/head_shim" %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render "layouts/header" %>
      <%= render "layouts/light_section" if yield(:title).present? %> 
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
